/************
12. 480px
************/

@media only screen and (max-width: 480px) {
    .section-title, .section-title .head3, .section-title .head1{
        font-size: 40px;
    line-height: 60px;
}
.portfolio-section .section-title {
    font-size: 40px;
    line-height: 60px;
}
.awd-heading h3{
    font-size: 40px;
    line-height: 40px;
}
.wht-sec-btn a{
    position: relative;
    margin-left: 15px;
}
.portfolio-section .section-title .head3, .section-title .head3, .section-title .head1{
    top: 0px;
}
.menu-list .navbar-nav .nav-item:nth-child(1){
    padding-left: 20px;
}
.menu-list .navbar-nav .nav-item{
    padding: 20px;
}
.pos-rel-mb{
    position: relative;
}
.footer-section p, .footer-section p a{
    text-align: center;
}
.footer-left{
    float: none;
}
.icon-box br{
    display: none;
}
.about-wrap .about-box h4{
    font-size: 40px;
    line-height: 35px;
}
.about-wrap .about-box h6{
    font-size: 25px;
    line-height: 30px;
}
    }