@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html { scroll-behavior: smooth; }

body {
	font-size: 18px;
    line-height: 30px;
	background: #fff;
	overflow-x: hidden;
	font-weight: normal;
	font-family: 'Poppins', serif;

}

a,
a:hover,
a:active,
a:focus {
	display: inline-block;
	text-decoration: none;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #616161;
	font-weight: normal;
	font-family: 'Poppins', serif;;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
	padding-bottom: 10px;
}

h6 {
	font-size: 16px;
}

p {
	margin: 0;
	font-size: 24px;
	line-height: 29px;
	font-weight: 300;
	color: #616161;
	font-family: 'Poppins', serif;;
	;
}

img {
	border: none;
	vertical-align: middle;
	border-style: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li {
	list-style: none;
}

select,
input,
textarea {
	box-shadow: none;
	outline: 0 !important;
}

/*html,body{height: 100%;position: relative;z-index: 2;}*/
[placeholder]:focus::-webkit-input-placeholder {
	-webkit-transition: opacity 0.3s 0.3s ease;
	-moz-transition: opacity 0.3s 0.3s ease;
	-ms-transition: opacity 0.3s 0.3s ease;
	-o-transition: opacity 0.3s 0.3s ease;
	transition: opacity 0.3s 0.3s ease;
	opacity: 0;
}

a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover,
a[href^="tel"]:active,
a[href^="tel:"] {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Main Header
--------------------------------------------------------------*/
.main-header{
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-dark .navbar-toggler-icon{
    background-image: url('../images/nav-mb.png');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.menu-list .navbar-dark .navbar-nav .nav-link{
    color: #6D6D6D;
}
.navbar{
    padding: 0px;
}
.navbar img{
    display: none;
}
.main-menu{
    position: relative;
}
.menu-list{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
}
.menu-list .navbar-expand-sm .navbar-nav .nav-link{
    padding: 5px 10px;
}
.nav-link.active{
    border:solid 1px #616161
}
.menu-list .navbar-nav .nav-item{
    padding: 50px 20px;
}
.menu-list .navbar-nav .nav-item:nth-child(1){
    padding-left: 0px;
}
.section-title{
    font-size: 89px;
    line-height: 100px;
    font-weight: 800;
}
.section-title .head1{
    font-size: 81px;
    line-height: 85px;
    font-weight: 100;
    position: relative;
    top: 30px;
}
.section-title .head3{
    font-size: 81px;
    line-height: 85px;
    font-weight: 100;
    position: relative;
    top: -5px;
}
.hero-content .head2{
    font-size: 41px;
    line-height: 41px;
    font-weight: 100;
    font-style: italic;
    border:none;
    position: relative;
    top: -5px;
    padding: 0px;

}
.hero-content p{
    font-size: 22px;
    line-height: 30px;
    border-top:solid 1px #6D6D6D;
    padding:10px 0px 30px 0px;
    font-weight: 100;
}

.section-btn a, .award-info-sec a{
    background: #fff;
    color: #6D6D6D;
    border: 1px solid #6D6D6D;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    transition: color 400ms;
    padding: 10px 20px;
}

.section-btn a::before,.award-info-sec a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #6D6D6D;
    z-index: -1;
    transition: transform 400ms ease-out;
    transform: scaleX(0);
    transform-origin: left;
}

.section-btn a:hover::before, .award-info-sec a:hover::before {
   transform: scaleX(1);
}

.section-btn a:hover, .award-info-sec a:hover {
    color: #fff;
}
.opacity-8{
    opacity: 0.8;
}

.wht-sec-btn {
    position: relative;
}
/* .wht-sec-btn a{
    position: absolute;
    top: 30px;
    right: 5px;
    font-size: 32px;
    line-height: 35px;
    padding: 10px 16px;
    background: #fff;
    color: #6D6D6D;
    font-weight: 100;
} */
.wht-sec-btn a {
    position: absolute;
    top: -50px;
    right: -10px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    z-index: 1;
    transition: color 400ms;
    width: 190px;
    padding: 10px 15px;
    text-align: center;
}

.wht-sec-btn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: -1;
    transition: transform 400ms ease-out;
    transform: scaleX(0);
    transform-origin: left;
}

.wht-sec-btn a:hover::before {
   transform: scaleX(1);
}

.wht-sec-btn a:hover {
    color: #6D6D6D;
}

.hero-content{
    padding: 160px 0px 130px 0px;
}

/* About Section */
.about-section{
    padding: 25px 0px 80px 0px;
}
.about-section .award-info{
    display: flex;
    align-items: center;
    padding-bottom: 65px;
}
.about-section .award-info .award-icon img{
    width: 64px;
    height: 64px;
}
.about-section .award-info .award-icon{
    padding-right: 30px;
}
.about-section .award-info .award-content p{
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
}
.pb-30{
    padding-bottom: 30px;
}
.pb-15{
    padding-bottom: 15px;
}
.pt-15{
    padding-top: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pos-rel{
    position: relative;
}
.about-wrap{
    padding: 10px 0px 50px 0px;
}
.about-wrap .about-box h4{
    font-size: 55px;
    line-height: 60px;
    padding: 35px 0px 10px 0px;
    font-weight: 800;
}
.about-wrap .about-box h4 span{
    font-weight: 200;
}
.about-wrap .about-box p{
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 10px;
}
.about-wrap .about-box h6{
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
    padding-bottom: 20px;
}
.about-icon-sec .icon-box{
    padding:20px 0px 10px 0px;
}
.about-icon-sec .icon-box img{
    margin-bottom: 20px;
}
.about-icon-sec .icon-box P{
    font-size: 18px;
    line-height: 30px;
}
/* Portfolio section */
.portfolio-section{
    background: #616161;
    padding: 40px 0px 65px 0px;
}
.bg-white{
    background-color: #fff;
}
.bg-white .section-title{
    color: #616161!important;
}
.bg-white .section-title .head3{
    color: #616161!important;
}
.portfolio-section .section-title{
    font-size: 89px;
    line-height: 90px;
    color: #E4E4E4;
}
.portfolio-section .section-title .head3{
    top: -3px;
    color: #E4E4E4;
}
.portfolio-section .portfolio-img{
    padding-bottom: 30px;
}
.portfolio-section .item-info a{
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}
.portfolio-section .item-info a:hover{
    filter: grayscale(0%);
}
.page-link{
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    border-radius: 50px!important;
    padding: 0px!important;
    text-align: center;
    margin-right: 10px;
    background-color: transparent!important;
    border: none;
}
.page-link:focus{
    box-shadow: none;
}
.page-link:hover{
    color: #fff!important;
}
.page-link:nth-child(3){
    margin-right: 0px;
}
.pagination{
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.page-link.active {
    background-color: #fff!important; /* Blue background */
    color: #616161; /* White text color */
    border: none;
}
.modal-header{
    border:none!important;
}
.page-link.active:hover{
    color: #616161!important;
}
.pt-30{
    padding-top: 30px;
}
.pad-rgt-top{
    padding: 10px 5px 0px 5px!important;
}
.portfolio-section .modal-body p{
font-size: 16px;
line-height: 28px;
}
.portfolio-section .modal-body img{
    border-radius: 24px;
}
.portfolio-section .modal-body p span{
    font-weight: 500;
}
.nav-pills .nav-link, .nav-pills .nav-link:hover, .nav-pills .nav-link:active{
font-size: 18px;
line-height: 30px;
color: #fff;
padding: 10px 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
    border-radius: 0px;
}

/* Owl Carousel */
.owl-theme .owl-dots .owl-dot span{
    width: 30px;
    height: 30px;
    color: #fff;
    background: transparent;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background: #fff;
    color: #616161;
}
.owl-carousel .owl-dots {
    position: absolute;
    bottom: 0px; /* Place the dots near the bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 15;
}

.owl-carousel .owl-dots .owl-dot {
    background-color: #fff; /* Dot color */
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px;
    opacity: 1;
    border:solid 1px #616161;
}

.owl-carousel .owl-dots .owl-dot.active {
    background-color: #616161; /* Active dot color */
    opacity: 1;
    border:solid 1px #bcbcbc;
}
.mobile-banner{
    display: none!important;
}
/* Award Section */
.award-section{
    padding: 60px 0px 30px 0px;
}
.awd-heading h4{
    font-size: 45px;
    line-height: 35px;
    color:#616161;
    font-weight: 100;
}
.awd-heading h3{
    font-size: 51px;
    line-height: 42px;
    color: #616161;
    font-weight: 800;
}
.awd-heading{
    padding-bottom: 15px;
}
.award-info-sec p{
    font-size: 18px;
    line-height: 30px;
    padding: 0px 80px 38px 0px;
    font-weight: 300;
}
.pb-80{
    padding-bottom: 80px;
}
.br-line{
    border-bottom: solid 1px #707070;
}
.pt-45{
    padding-top: 45px;
}
/* Testimonial Section */
.testimonial-section{
    background: #E4E4E4;
    padding: 40px 0px 60px 0px;
}
.testimonial-box p{
    font-size: 18px;
    line-height: 30px;
    padding: 8px 30px 50px 0px;
    border-bottom: solid 1px #707070;
    font-weight: 300;
}
.testimonial-box p:nth-child(2){
    padding-bottom: 0;
    border-bottom: none;
}
.bg-dark{
    background-color: #434141;
}
.bg-dark .about-box h4, .bg-dark .about-box p, .bg-dark .about-box h6{
    color: #fff;
}
/* Footer Section */
.footer-section{
    padding: 40px 0px;
}
.bg-light-gray{
    background: #F4F4F4;
}
.footer-left{
    float: left;
}
.footer-right {
    text-align: right;
  }
.footer-section p, .footer-section p a{
    font-size: 18px;
    line-height: 30px;
    color: #616161;
    font-weight: 300;
}
